@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: rgb(26, 28, 61);
}

body {
    text-align: center;
}

h1 {
    text-align: center;
    padding: 80px;
    color: rgb(0, 255, 251);
    font-weight: bolder;
    font-size: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.square {
    width: 250px;
    height: 250px;
    background-color: rgb(179, 228, 255);
    border: 1px solid #f9f9f9;
    border-radius: 8px;
    display: inline-block;
    margin: 4px;
}

